.button1{
    background-color: rgb(255, 255, 255);
    padding: 15px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    border: 2px solid rgb(60, 232, 203); 
    border-radius: 26px;
    color: rgb(60, 232, 203);
}

.button2{
        background-color: rgb(60, 232, 203);
        color: white;
        height: 50px;
        width: 50px;
        font-size: 20px;
        border-radius: 50%;
        border-color: rgb(60, 232, 203);
}   

.button3{
    position: absolute;
    top: 150px;
    background-color: cornflowerblue;
    color: aliceblue;
    box-shadow: 10px 5px 5px black;
    height: 40px;
    width: 150px;
}
