* {
    margin: 0%;
    padding: 0%;
    font-family: Clydesdale-Light;
    font-size: x-large;
}

@font-face {
    font-family: Clydesdale-Light;
    src: url(Clydesdale-Light.ttf);
}

.lupa {
    background-color: rgba(44, 32, 32, 0.5);
    width: 100px;
    height: 100px;
}

.header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active2 {
    margin-right: 8%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Clydesdale-Light;
    font-size: 100px;
}

.active1 {
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #74d6dd;
    color: rgb(255, 255, 255);
    font-family: Clydesdale-Light;
    font-size: 100px;
}

.active {
    display: flex;
    justify-items: center;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-right: 8%;
    width: 700px;
    height: 100px;
}

.box-content h1 {
    color: rgb(255, 255, 255);
    font-family: Clydesdale-Light;
    font-size: 280px;
}

.box-content p {
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 77px;
    width: 9000px;
}

.box {
    color: rgb(255, 255, 255);
    margin: 30px;
    width: 920px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    font-family: inherit;
    font-size: 100px;
    background-color: #1572a4;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box-content {
    margin-left: 18%;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.banner2 {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.banner-content {
    width: 100%;
    height: 100%;
}

.img-banner2 {
    width: 1540px;
    height: 68%;
    margin-top: 18%;
    display: flex;
    justify-content: space-around;
}

.banner-content-img {
    display: flex;
    flex-direction: row;
}

.box-b2 {
    margin: 90px;
}

.img-b3 {
    width: 2500px;
    height: 1500px;
    margin-top: 1%;
    margin-left: 20%;
    margin-bottom: 50%;
}

.banner3 {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.text-banner3 {
    margin-top: 2%;
    margin-left: 3%;
    height: 1000px;
    width: 4000px;
    color: rgb(255, 255, 255);
    font-family: Clydesdale-Light;    
}

.img-2-banner-3 {
    margin-right: 100%;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.text-banner3 h1 {
    color: #1572a4;
}

.text-banner3 h3 {
    color: #3c4b53;
    font-family:monospace;
}

.text-banner3 p {
    margin-top: 3%;
    color: #3c4b53;
    font-family:Arial
}

.banner4 {
    background-image: url(images/haloground.jfif);
    background-size: cover;
    background-repeat:no-repeat;
    width: 000px;
    height: 1000px;
}