@font-face{
    font-family: eee;
    src: url(font/comic.ttf);
}

/*Boxes*/
.box1{
    border: 3px solid black;
    background-color: white;
    margin: 1%;
    margin-left: 20%;
    margin-right: 54%;
    margin-top: 8%;
}

.buttonbox1{
    margin: 1%;
    margin-bottom: -15.5%;
}

/*Buttons*/
.button1{
    background-color: #FFD966;
    text-decoration: none;
    border: 3px solid black;
    color: black;
    font-family: eee;
    text-align: center;
    margin: 2%;
    margin-left: 80%;
}


/*Texts*/
.box1-text1{
    font-family: eee;
    margin-left: 5%;
    margin-top: 8%;
}

.box1-text2{
    font-family: eee;
    margin-left: 5%;
}