@font-face{
    font-family: eee;
    src: url(font/comic.ttf);
}

.navup{
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 30%;
    margin-bottom: 2%;
}

.navtext{
    font-family: eee;
    text-align: left;
    color: white;
    margin-left: 2%;
}

.navdw{
    background-color: white;
    text-align: center;
    font-family: eee;
    color: black;
    margin-bottom: 1%;
}


/*BOXES*/
.box1{
    border: 3px solid black;
    background-color: white;
    margin-left: 40%;
    margin-top: 2%;
    margin-right: 25%;
}

.box2{
    border: 3px solid black;
    background-color: white;
    margin-left: 40%;
    margin-top: 5%;
    margin-right: 25%;
}

.box3{
    border: 3px solid black;
    background-color: white;
    margin-left: 40%;
    margin-top: 8%;
    margin-right: 25%;
}

.usrbox{
    border: 3px solid black;
    background-color: white;
    margin-left: 25.5%;
    margin-right: 10%;
    width: 12%;
    height: 200px;
    
}