
@font-face {
    font-family: eee;
    src: url(font/comic.ttf);
}

.dojonary{
    display: flex;
    background-color: rgb(215, 215, 215);
    margin: 1%;
    width: 39%;
    margin-left: 32%;
}

.boxtext1{
    display: flex;
    margin-left: 2%;
    font-family: eee;
    font-size: 80%;
}

.input1{
    display: flex;
    margin: 3%;
    margin-left: 20%;
    border: 2px solid black;
}


.buttonbox1{
    margin-top: 2%;
    margin: 2.7%;
    margin-left: 14%;
}


.button1{
    font-family: eee;
    background-color: cornflowerblue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

.button2{
    font-family: eee;
    background-color: rgb(123, 188, 27);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: black;
    width: 150%;
}

.box-left{
    display: flex;
    margin: 4%;
    width: 23%;
    margin-left: 32%;
    border: 3px solid black;
}

.box-l-text1{
    font-family: eee;
    margin-left: 5%;
}

.box-1-text2{
    font-family: eee;
    margin: 6%;
    margin-left: 1%;
    margin-top: 15%; 
}

right_column {
    /*border: 2px solid cyan;*/
    margin-top: 10px;
    height: 300px;
}

.dojo {
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
}

.dojo p {
    font-family: eee;
}

.dojo p strong {
    font-weight: bold;
}
.button_add {
    color: black;
    background-color: #93c47d;
    border: 2px solid black;
    margin: 4px;
    padding: 4px 25px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    font-weight: bold;
}