
@font-face {
    font-family: eee;
    src: url(font/comic.ttf);
}

.dojonary{
    display: flex;
    background-color: rgb(215, 215, 215);
    margin: 1%;
    width: 39%;
    margin-left: 32%;
}

.boxtext1{
    display: flex;
    margin-left: 2%;
    font-family: eee;
    font-size: 80%;
}

.input1{
    display: flex;
    margin: 3%;
    margin-left: 20%;
    border: 2px solid black;
}


.buttonbox1{
    margin-top: 2%;
    margin: 2.7%;
    margin-left: 14%;
}


.button1{
    font-family: eee;
    background-color: cornflowerblue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

.button2{
    font-family: eee;
    background-color: rgb(123, 188, 27);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: black;
    width: 150%;
}

.box-left{
    display: flex;
    margin: 4%;
    width: 23%;
    margin-left: 32%;
    border: 3px solid black;
}

.box-l-text1{
    font-family: eee;
    margin-left: 5%;
}

.box-1-text2{
    font-family: eee;
    margin: 6%;
    margin-left: 1%;
    margin-top: 15%; 
}

.box-left2{
    display: flex;
    margin: 4%;
    width: 23%;
    margin-left: 32%;
    border: 3px solid black;
}

.boxtext1b{
    display: flex;
    margin-left: 2%;
    font-family: eee;
    font-size: 80%;
}

.box-1-text2b{
    font-family: eee;
    margin: 6%;
    margin-left: 1%;
    margin-top: 15%; 
}

.rightbox{
    border: 3px solid black;
    display: flex;
    margin-left: 58%;
    margin-top: -25.7%;
    width: 18%;
    font-family: eee;
    font-size: 80%;
}

.rbox-text1{
    display: flex;
    margin-right: 1%;
    font-family: eee;
    font-size: 78%;
}

.button2{
    font-family: eee;
    background-color: rgb(99, 255, 47);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

.buttonbox2{
    margin-right: 30%;
    margin-top: 33%;
}

